.banner {
    --bannerImgOffsetY: 24px;

    padding-block: var(--bannerImgOffsetY);

    @include tablet {
        --bannerImgOffsetY: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-gray);
        border-radius: var(--border-radius-large);
    }

    &__body {
        padding: 60px;
        display: flex;
        align-items: start;
        flex-direction: column;
        row-gap: 26px;

        @include tablet {
            padding: 50px;
        }

        @include mobile {
            row-gap: 20px;
        }
    }

    &__description {
        max-width: 500px;
    }

    &__img {
        margin-block: calc(var(--bannerImgOffsetY) * -1);

        @include tablet {
            max-width: 40%;
            height: auto;
        }
    }
}