.contact-us {
    position: relative;
    overflow-x: hidden;

    @include mobile-above {
        padding: 60px 100px 80px;
        background-color: var(--color-gray);
        border-radius: var(--border-radius-large);
    }

    &::after {
        --contactUsImageOffsetY: 62px;

        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        translate: -50% -50%;
        height: calc(100% - var(--contactUsImageOffsetY) * 2);
        aspect-ratio: 1;

        background: url('../../img/contact-us/Illustration.svg') center/contain no-repeat;
    
        @include tablet {
            display: none;
        }
    }

    &__request-types, 
    &__body {
        @include mobile {
            background-color: var(--color-gray);
        }
    }

    &__request-types {
        padding: 40px 52px 36px;
        border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 556px;

        @include tablet {
            max-width: 100%;
        }

        @include mobile-above {
            row-gap: 40px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        @include mobile {
            margin-bottom: 30px;
            row-gap: 20px;

            padding: 10px 30px 50px;
            border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
        }
    }
}