.services-card {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    min-height: 310px;
    padding: 50px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);

    &-accent-bg {
        background-color: var(--color-accent);
    }
    &-dark-bg {
        background-color: var(--color-dark);
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 30px;
        max-width: 221px;
    }

    &__img {
        align-self: center;
    }    

    &__title {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__link {
        --serviceCardLinkIconColor: var(--color-accent);

        display: inline-flex;
        align-items: center;
        column-gap: 15px;
        font-size: 20px;

        &:hover {
            opacity: .7;
        }

        &--light {
            --serviceCardLinkIconColor: var(--color-dark);
            color: var(--color-light)
        }

        &-wrapper {
            @include flex-center;
            @include square(41px);

            background-color: currentColor;
            border-radius: 50%;

            svg {
                color: var(--serviceCardLinkIconColor);
            }
        }
    }
}